{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/MoTaCongNghe.css' %}">
<div class="MoTa-Grid1">
    <div>
        <img class="img-fluid" src="/media/media/Tra-giam-can-03.jpg" style="width:100%">
    </div>
    <div style="text-align: left;">
        <h1>Dược mỹ Phẩm Chăm Sóc da</h1>
        <h1>COSMEDICAL TECHNOLOGIES</h1>
        <p class="">Thành lập năm 1993 bởi tiến sĩ – Bác sĩ chuyên khoa Da liễu Loretta Ciraldo, Md, Faad, với 30 năm nghiên cứu lâm sàng</p>
        <p class="">Sản xuất và đóng gói 100% tại Hoa Kỳ – công nghệ nano vi hoá lỏng – chiết xuất từ thiên nhiên, hữu cơ – đã được Dr. Vin Tran phối hợp điều trị thành công với các máy móc công nghệ cao tại Việt Nam</p>
    </div>
</div>
<div class="MoTa-Grid2">
    <div><img class="img-thumbnail" src="/media/media/Tra-giam-can-03.jpg"></div>
    <div><img class="img-thumbnail"  src="/media/media/Tra-giam-can-03.jpg"></div>
    <div><img class="img-thumbnail"  src="/media/media/Tra-giam-can-03.jpg"></div>
    <div><img class="img-thumbnail"  src="/media/media/Tra-giam-can-03.jpg"></div>
</div>
