{% extends 'AppSpa/base.html' %}
{% block home %}
{% load static %}
{% load Home_page_BackGround %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div>
    {% HomeBackGround %}
</div>

<!-- BANNER CHUỖI THẨM MỸ VIỆN LỚN NHẤT VIỆT NAM-->



<!-- ĐÔI NÉT VỀ SPA -->
<div class="DoiNet" style="text-align:center">
    <div class="container mb-3">
        <h1 class=""style="margin-top:40px; color:red">ĐÔI NÉT VỀ SPA</h1>
        <img src="{% static 'media/background_top/Banner_ruyBang2.png'%}" style="width:10%">
        <div class="DoiNet-grid ">
            <div>
                <img class="img-thumbnail"style="border:none;width:100%;" src="{% static 'media/media/Tra-giam-can-03.jpg' %}">
                <h3>Đội Ngũ Chuyên Gia</h3>
                <p>Để Công ty phát triển bền vững, Người AASC luôn được tu tập về đạo đức nghề nghiệp,
                    rèn luyện về trình độ chuyên môn,</p>
            </div>
            <div>
                <img class="img-thumbnail"style="border:none;width:100%;" src="{% static 'media/media/Tra-giam-can-03.jpg' %}">
                <h3>Đội Ngũ Chuyên Gia</h3>
                <p>Để Công ty phát triển bền vững, Người AASC luôn được tu tập về đạo đức nghề nghiệp,
                    rèn luyện về trình độ chuyên môn,</p>
            </div>
            <div>
                 <img class="img-thumbnail"style="border:none;width:100%;" src="{% static 'media/media/Tra-giam-can-03.jpg' %}">
                <h3>Đội Ngũ Chuyên Gia</h3>
                <p>Để Công ty phát triển bền vững, Người AASC luôn được tu tập về đạo đức nghề nghiệp,
                    rèn luyện về trình độ chuyên môn,</p>
            </div>
            <div>
                 <img class="img-thumbnail"style="border:none;width:100%;" src="{% static 'media/media/Tra-giam-can-03.jpg' %}">
                <h3>Đội Ngũ Chuyên Gia</h3>
                <p>Để Công ty phát triển bền vững, Người AASC luôn được tu tập về đạo đức nghề nghiệp,
                    rèn luyện về trình độ chuyên môn,</p>
            </div>
        </div>
    </div>
<div
<!-- MÔ Tả Công Nghệ -->
 <div class="container mt-3 ">
     {% MoTaCongNghe %}
 </div>
<!-- CÔNG NGHỆ SẢN PHẢM -->
<div class="p-3 CongNghe-BackGround" style="background-image: url('{% static 'media/background_top/background-3017167_640.jpg' %}');background-repeat:no-repeat;background-size: cover;">
<div class=" container  CongNghe" >
    <h1 class="mt-5 " style="color:blue ">Công Nghệ Tia LaSer</h1>
    <p >Hãy xem báo trí và khách hàng Review về những dịch vụ ở thẩm mỹ viện Rose Beauty nhé. Rose Beauty được báo giới đề cập như một gợi ý quan trọng cho những ai có nhu cầu làm đẹp bản thân.</p>
    <div class="CongNghe-gird">
        <div class="Card" style="background-color:white">
                    <img src="{% static 'media/media/Tra-giam-can-03.jpg' %}" style="width:100%">
                    <h3>Công Nghệ Nano</h3>
            <p class="p-2 text-more"> với công nghệ hiện đại nhất được cập nhập liên tục với công nghệ hiện đại nhất được cập nhập liên tụcvới công nghệ hiện đại nhất được cập nhập liên tục</p>
            <div class="Card-hover"><p >Hoạt động đưa người lao động sang Nhật Bản làm việc , nâng cao tay nghề , kỹ năng , ngoại ngữ , kiếm thêm thu nhập cao tạo cơ hội nghề nghiệp sau khi trở về Việt Nam , phát triển kinh tế bản thân</p>
            <p><a href="">Xem Thêm</a></p>
            </div>
        </div>
        <div class="Card" style="background-color:white">
                    <img src="{% static 'media/media/Tra-giam-can-03.jpg' %}" class="" alt="..." style="width:100%;">
                    <h3>Công Nghệ Nano</h3>
            <p class="p-2 text-more"> với công nghệ hiện đại nhất được cập nhập liên tục với công nghệ hiện đại nhất được cập nhập liên tụcvới công nghệ hiện đại nhất được cập nhập liên tục</p>
            <div class="Card-hover"><p >Hoạt động đưa người lao động sang Nhật Bản làm việc , nâng cao tay nghề , kỹ năng , ngoại ngữ , kiếm thêm thu nhập cao tạo cơ hội nghề nghiệp sau khi trở về Việt Nam , phát triển kinh tế bản thân</p>
            <p><a href="">Xem Thêm</a></p>
            </div>
        </div>
        <div class="Card" style="background-color:white">
                    <img src="{% static 'media/media/Tra-giam-can-03.jpg' %}" class="" alt="..." style="width:100%;">
                    <h3>Công Nghệ Nano</h3>
            <p class="p-2 text-more"> với công nghệ hiện đại nhất được cập nhập liên tục với công nghệ hiện đại nhất được cập nhập liên tụcvới công nghệ hiện đại nhất được cập nhập liên tục</p>
            <div class="Card-hover"><p >Hoạt động người lao động sang Nhật Bản làm việc , nâng cao tay nghề , kỹ năng , ngoại ngữ , kiếm thêm thu nhập cao tạo cơ hội nghề nghiệp sau khi trở về Việt Nam , phát triển kinh tế bản thân</p>
            <p><a href="">Xem Thêm</a></p>
            </div>
        </div>

    </div>
</div>
</div>
<!-- Footer -->
<div style="background-color:#43478C;margin-top:100px" >
{% Foorter %}
</div>



{% endblock %}